.section-advantage {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.section-advantage__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }
}

.section-advantage__icon {
  width: 70px;
  height: 70px;
}

.section-advantage__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-bg);
  border-radius: 4px;
}

.section-advantage__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.section-advantage__title,
.section-work__title,
.section-team__title,
.section-clients__title,
.section-projects__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.section-advantage__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.section-advantage__text {
  font-size: 14px;
  line-height: 1.71;
}
