:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg: #f5f4fa;
    --footer-bg: #2f303a;
    --icons-color: #afb1b8;

    --indent: 30px;
    --items: 3;
  }